<script type="text/dot-template">
    {% raw %}
    <div class="card">
        {{? it.classes}}
          <span class="{{=it.classes}}" title="{{=it.flashTitle}}"><strong>{{=it.flashText}}</strong></span>
        {{??}}
          <span class="spacer"></span>
        {{?}}
        <header>
            <h2 title="{{=it.info.title }}">
              {{? it.externalUrl }}
                <a href="{{=it.externalUrl }}" target="_blank">{{=it.info.title }}</a>
              {{??}}
                {{=it.info.title }}
              {{?}}
            </h2>
        </header>
        <section class="api-body">
            <img src="{{=it.logo.url || 'assets/images/no-logo.svg'}}" alt="{{=it.info.title }} API logo" style="background-color: {{=it.logo.backgroundColor || 'transparent'}}" class="api-logo">
            <p>{{=it.cardDescription}}</p>
        </section>
        <footer>
          <h3> OpenAPI: </h3>
          <h4>Preferred Version - {{=it.preferred}}</h4>
          {{? it.badge }}
            <div class="badge">
              <img src="{{=it.badge}}" alt="{{=it.info.title }} badge">
            </div>
          {{?}}
          <ul class="preferred-api">
            <li><a href="{{=it.api.swaggerUrl}}" target="_blank" >JSON</a></li>
            <li><a href='{{=it.api.swaggerYamlUrl}}' target="_blank" >YAML</a></li>
            <li><a href="{{=it.origUrl}}" target='_blank'>Orig</a></li>
            <li><a href='https://redocly.github.io/redoc/?url={{=it.api.swaggerUrl}}' target="_blank" >Docs</a></li>
          </ul>
          {{? it.versions }}
          <details>
            <summary><h4>All Versions</h4></summary>
            <ul class="other-versions">
              {{~it.versions :version:index}}
              <li>
                <span>{{=version.version}}</span>
                <ul>
                  <li><a href="{{=version.swaggerUrl}}" target="_blank" >JSON</a></li>
                  <li><a href="{{=version.swaggerYamlUrl}}" target='_blank'>YAML</a></li>
                  <li><a href='https://redocly.github.io/redoc/?url={{=version.swaggerUrl}}' target="_blank" >Docs</a></li>
                </ul>
              </li>
              {{~}}
            </ul>
          </details>
          {{?}}
          <details>
            <summary><h4>Tools</h4></summary>
            <ul class="tools">
              {{~it.integrations :integration:index}}
              <li><a href="{{=integration.template}}" target="_blank" >{{=integration.text}}</a></li>
              {{~}}
            </ul>
          </details>
        </footer>
    </div>
    {% endraw %}
  </script>
