<div class="field">
    <label for="{{ form-data.category.name }}" class="label-required">{{ form-data.category.label }}</label>
    {% if form-data.category.note %}<p class="hint">{{ form-data.category.note }}</p> {% endif %}
    <select name="{{ form-data.category.name }}" class="" type="select" required>
        <option value=""></option>
        {% for category in form-data.category.categories %}
        <option value="{{ category.value }}">{{ category.name }}</option>
        {% endfor %}
        </select>
</div>
