<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ site.baseurl }}/{{ site.logo }}">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="600">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_GB">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{{ site.baseurl }}/{{ site.logo }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta name="twitter:domain" content="{{ site.baseurl }}">

<!-- CSS -->
<!-- inject:css -->
<link rel="stylesheet" href="/assets/stylesheets/style.css">
<!-- endinject -->

<!-- Icons -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/icon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/icon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/icon-16x16.png">
<!-- RSS
{ feed_meta }
-->

