<div class="social-links">
  <a target="=_blank" href="https://github.com/APIs-guru/api-models">
    <img src="https://img.shields.io/github/stars/APIs-guru/api-models.svg?style=social&amp;label=Star" alt="Star on GitHub">
  </a>
  <a target="=_blank" href="https://twitter.com/intent/tweet?text=http%3A%2F%2FAPIs.guru%20-%20Wikipedia%20for%20%23Web%20%23APIs%20by%20@APIs_guru%20pic.twitter.com/UhlhbMw1NP">
    <img src="https://img.shields.io/twitter/url/http/shields.io.svg?style=social" alt="Tweet about APIs.guru">
  </a>
</div>
