<section class="support jumbotron">
  <img alt="APIs.guru banner" height="80" src="/assets/images/logo.svg" />
  {% include social-links.html %}
  {% if support %}
  <p>Help support the work that we do by purchasing official merchandise from our <a href="https://www.redbubble.com/shop/ap/79074109">RedBubble Store</a><br>
  and contributing to our Open Collective campaign!</p>
  <a class="button cta" href="https://opencollective.com/openapi-directory">Support APIs.guru</a>
  <p>
  {% endif %}
</section>

