<section class="support jumbotron">
    <h1>{{ title }}</h1>
    {% include social-links.html %}
    {% if support %}
    <p>Help support the work that we do by purchasing official merchandise from our <a href="https://www.redbubble.com/shop/ap/79074109">RedBubble Store</a><br>
    and contributing to our Open Collective campaign!</p>
    <a class="button cta" href="https://opencollective.com/openapi-directory">Support APIs.guru</a>&nbsp;
    <a class="button cta" href="/add-api/"> Add API </a>
    <p>
    {% endif %}
</section>

