.page-content.apis-list {
  font-size: 14px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;

  h1 {
    text-align: center;
  }
}

#apis-list {
  margin-top: 40px;
}

.panel-footer {
  position: relative;
  bottom: -1px;
}
.panel-heading {
  position: relative;
  top: -1px;
}

.panel-body-logo {
  height: 100px;
  vertical-align: middle;
  line-height: 90px;
  padding: 5px;
}

img.api-logo {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.panel-body-description {
  margin-top: 15px;
}

.panel-body-description:empty:before {
  content: 'No description';
  text-align: center;
  color: #a2a2a2;
  display: block;
}

.panel-heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.truncate {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.versions > span {
  display: inline-block;
  vertical-align: middle;
}

.panel-footer ul.dropdown-menu {
  padding: 5px;
  transform: translateX(-50%);
  margin-left: 12px;
  margin-top: 5px;
}

.panel-footer ul.dropdown-menu li {
  margin-bottom: 5px;
  min-width: 100px;
  white-space: nowrap;
  text-align: right;
}

.panel-footer ul.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.panel-footer .dropdown-toggle {
  width: 16px;
  padding: 2px 4px;
  margin-right: 2px !important;
}

.panel-footer .btn-group {
  margin: 0;
}

.dropdown-menu li a:hover {
  color: white;
}

.label, .label:visited {
    color: white;
}

.label.label-primary {
  background-color: $secondary-color;
}

input[type="search"] {
  font-weight: normal;
}
