@supports not (display: grid)  {
    .card {
       margin-bottom: 1.44rem;
       margin-bottom: var(--s2);
    }
}
.container {
    margin: 0 auto;
    padding: 0 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
}
 
.card header h2 {
    overflow: ;
    overflow-wrap: anywhere;
}  

.card .api-body img {
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
}

.card .api-body p {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
}

/* dropdowns*/

.card footer ul.dropdown-menu {
    padding: 5px;
    transform: translateX(-50%);
    margin-left: 12px;
    margin-top: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
        margin-left: 0px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu {
    border: 0;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.open > .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@supports (display: grid) { 
    @media (min-width:461px) {
       .cards {
           display: grid;
           grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
           grid-column-gap: 1rem;
           grid-row-gap: 1rem;
       }
    }
   @media (min-width:992px) {
      .col-md-offset-3 { /* this is for the searchbox, update later */
           margin: 0 25%;
       }
   }
   @media (min-width:1200px) {
       .container {
           width: 1170px;
       }
   }
}