$side-menu-width: 256px;

/**
 * Site header
 */
.site-header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px #e5e5e5 solid;
  z-index: 100;
  overflow: hidden;
}

.site-nav {
  width: 100vw;
  text-align: center;
  line-height: $navbar-height;

  .page-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $text-color;
    line-height: $base-line-height;
    padding: 0 0.5rem;
    box-sizing: padding-box;
    outline: none;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
        margin-right: 20px;
    }

    // big link
    &:nth-child(3) {
      font-size: 1.5rem;
      padding: 0 1rem;
    }

    &:after {
      display: block;
      content: "";
      border-bottom: 2px solid #FDB41B;
      width: 100%;
      transform: scaleX(0);
      transition: all 0.2s ease;
    }

    &:hover, &.active {
      &:after {
        transform: scaleX(1.2);
        display: block;
        content: "";
        border-bottom: 2px solid #FDB41B;
        width: 100%;
      }
    }
  }
}

.toggle-button {
  display: none;
  width: 35px;
  height: 30px;
  margin: calc((#{$navbar-height} - 35px) / 2) -50px calc((#{$navbar-height} - 35px) / 2) 10px;
  margin-right: -50px;
  float: left;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: $brand-color-light;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}


.toggle-button span:nth-child(1) {
  top: 0px;
}

.toggle-button span:nth-child(2),.toggle-button span:nth-child(3) {
  top: 12px;
}

.toggle-button span:nth-child(4) {
  top: 24px;
}

.fixed-open .toggle-button span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.fixed-open .toggle-button span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fixed-open .toggle-button span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fixed-open .toggle-button span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-header {
  display: none;
  background: white;
  position: fixed;
  width: 100%;
  height: $navbar-height;
  z-index: 3;
  border-bottom: 1px solid lighten($grey-color-light, 12%);
  transition: transform 0.3s ease;

  .logo {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: $navbar-height;
  }
}

@media screen and (max-width: 780px) {

  .mobile-header {
    display: block;
  }

  .site-header {
    display: block;
    overflow: hidden;
  }

  .site-nav {
    width: 100%;
  }

  .site-header {
    display: none;
  }
  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: $side-menu-width - 1px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    border-right: 1px solid lighten($grey-color-light, 12%);
  }

  .slideout-panel {
    position:relative;
    z-index: 1;
    will-change: transform;
    background-color: white;
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }

  .fixed-open {
    transform: translate3d(256px, 0, 0);
  }

  .site-nav .page-link {
    display: block;
    margin: 1rem 0;
    width: 100%;
    box-sizing: border-box;

    &:after {
      width: 50% !important;
    }

    &.active:after, &:hover:after, &:active:after {
      width: 50%;
      margin: 0 auto;
    }
  }

  .toggle-button {
    display: block;
  }
}


/**
 * Social links
 */

.social-links {
    margin-bottom: 1rem;
}

.social-links a {
    padding: 0 5px;
}

/**
 * Site footer
 */
.site-footer {
  text-align: center;
  padding: 1rem 0;
  background-color: $grey-color;
  color: white;

  a, a:hover, a:visited {
    color: white;
  }

  a .icon path {
    fill: white;
  }
}

.social-media-list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 0.5rem;
  }
}


/**
 * Page content
 */

.page-content {
  padding-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height + 3.5rem}); // footer heigth
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.page.vertical-middle {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

.post-title {
  font-size: 2.2rem;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  font-size: 1.1rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
  }


  h1 {
    border-bottom: 1px solid #eee;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}
