<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">
    {% include head.html %}
  </head>
  <body>

    {% include header.html %}

    <div class="page-content apis-list" id="content">
      {{content}}
    </div>

    {% include footer.html %}

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.0.3/doT.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.js"></script>
  <!-- inject:js -->
  <script src="/assets/javascript/apis-a88ad4360a.min.js"></script>
  <script src="/assets/javascript/index-7ced8198f9.min.js"></script>
  <!-- endinject -->

  {% include analytics.html %}
  </body>

</html>
