---
layout: base.liquid
image: /branding/banner.svg
---

{% include header.html %}

<div class="page-content" id="content">
  {{content}}
</div>

{% include footer.html %}

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.js"></script>
