<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    <div class="page-content" id="content">
      {{content}}
    </div>

    {% include footer.html %}

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.js"></script>
  <!-- inject:js -->
  <script src="/assets/javascript/apis-59ab3a2264.min.js"></script>
  <script src="/assets/javascript/index-7ced8198f9.min.js"></script>
  <!-- endinject -->

  {% include analytics.html %}

  </body>

</html>
