* {
    box-sizing: border-box;
}

#search {
    position: sticky;
    top: 55px;
    background-color: white;
    display: flex;
    flex-direction: column;
    & ::placeholder, & label, & input {
        text-align: center;
    }
    padding-bottom: 15px;
    z-index: 100;
}

@supports not (display: grid)  {
    .card {
       margin-bottom: 1.44rem;
       margin-bottom: var(--s2);
    }
}
.container {
    margin: 0 auto;
    padding: 0 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px #388c9a solid;
    border-radius: 5px;
    background-color: #eee;
    overflow: hidden;
}

.card h2, .card h3, .card h4 {
    font-weight: 400;
    margin-bottom: 2px;
}

/* card header*/
.card header h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}  

.card header {
    padding: 10px 15px;
    color: #388c9a;
}

.card .spacer {
    min-height: 33px;
}

.card header a {
    color: #388c9a;
    text-decoration: underline;
}

.card header a:hover {
    text-decoration: none;
}

/* api body */

.card .api-body {
    padding: 15px;
    background-color: #fff;
    height: calc(1em * 1.2 * 3 + 150px);
}

.card .api-body img {
    max-width: 100%;
    max-height: 100px;
    padding: 10px;
}

.card .api-body p {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
    margin-top: 15px;
}

/* api footer */

.card footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin-left: 0;
}

.card footer ul.other-versions {
    flex-direction: column-reverse;
}

.card footer ul.other-versions li {
    display: flex;
    justify-content: center;
    margin: 0 2px;
}

.card footer ul.tools li {
    font-size: 0.8em;
}

.card footer a {
    padding: .1em .5em .1em;
    background-color: #388c9a;
    border-radius: 2px;
    color: #fff;
}

.card footer summary ::marker, .card footer summary h4 {
    display: inline;
}

.card footer summary {
    cursor: pointer;
}

.support {
    text-align: center;
    & p {
        font-size: 1.5rem;
    }
}

@supports (display: grid) { 
    @media (min-width:461px) {
       .cards {
           display: grid;
           grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
           grid-column-gap: 1rem;
           grid-row-gap: 1rem;
       }
    }
   @media (min-width:992px) {
      .col-md-offset-3 { /* this is for the searchbox, update later */
           margin: 0 25%;
       }
   }
   @media (min-width:1200px) {
       .container {
           width: 1170px;
       }
   }
   @media (min-width:1440px) {
       .container {
           width: 1400px;
       }
   }
}

.flash {
    display: block;
    width: 125px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
    color: black;
    top: 15px;
    left: -28px;
    transform: rotate(-45deg);
    opacity: 75%;
}

.flash-green  { background-color: #2c7; }
.flash-yellow { background-color: #fed16e; }
.flash-red    { background-color: red; }
.flash a {
  color: black;
  text-decoration: underline;
}
