---
layout: main
title: "API tooling development: GraphQL, OpenAPI | APIs.guru"
excerpt: |
  API tooling for better developer experience. We create tools to help developers work
  with GraphQL and OpenAPI.
---
<div class="landing-wrap">
  <a name="projects"></a>
  <section class="our-projects" data-scroll-index="1">
    <header class="motto" style='font-family:"Sansation"'> Other APIs.guru Projects </header>
    <div class="projects-wrap">
      {% for project in site.data.projects %}
      {% if project.image != null %}
        {% assign class = '-big' %}
      {% else %}
        {% assign class = '' %}
      {% endif %}

      <div class="project {{ class }}">
        {% if project.image != null %}
          <div class="project-logo" style="background-image: url({{ project.image }})"></div>
        {% endif %}
        <div class="project-content">
          <div class="stars">
            {% include svg/github.svg %}
            <span class="stars-count" data-proj="{{ project.project }}">{{ project.initialStars }}</span>
            {% include svg/star.svg %}
          </div>
          <div class="title">
            <a href={{project.links[0].url}}> {{ project.title }} </a>
          </div>
          <div class="description">
            {% if project.longDescription != null %}
              {{ project.longDescription }}
            {% else %}
              {{ project.description }}
            {% endif %}
          </div>
          <div class="buttons">
            {% for link in project.links %}
            <a class="button" href="{{ link.url }}"> {{ link.title }} </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
